---
- name: Add the app name to the monitored-apps types db
  lineinfile:
    dest: "/usr/share/collectd/monitored-apps.db"
    line: "{{ collectd_deployed_app_name }} value:ABSOLUTE:0:U"
    state: present
  notify:
   - restart collectd

- name: Add monitored app to env file
  lineinfile:
    dest: "{{ monitored_apps_env_dir }}/{{ monitored_apps_env_file }}"
    regexp: '^{{ monitored_apps_env_var }}\+=\("{{ collectd_deployed_app_name }};.+"\)'
    line: "{{ monitored_apps_env_var }}+=(\"{{ collectd_deployed_app_name }};{{ collectd_deployed_app_version }}\")"
    state: present
  notify:
   - restart collectd
